.smarty-tabs {
    overflow: hidden;
}
.smarty-controller {
    margin-bottom: 2em;
    position: relative;
    border-bottom: 1px solid lighten(#000, 70%);
    &__list {
        display: flex;
        list-style-type: none;
        width: 100%;
        transition: all .3s;
        justify-content: space-between;
    }
    &__item {
        border-radius: 5px;
        text-align: center;
        padding: 1em 2em;
        transition: all .3s;
        cursor: pointer;
        width: 100%;
        white-space: nowrap;
        position: relative;
        font-variant: small-caps;
        font-weight: 700;
        color: lighten(#000, 40%);
        &:active {
            user-select: none;
        }
        &:hover {
            &::after {
                visibility: visible;
                opacity: 1;
            }
        }
        &::after {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: red;
            visibility: hidden;
            opacity: 0;
            transition: all .3s;
        }
        &--active {
            color: red;
            cursor: default;
            &::after {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}
.smarty-content {
    &__item {
        display: none;
        text-transform: uppercase;
        text-align: center;
        &--active {
            display: block;
            animation: contentOpacity .3s linear;
        }
    }
}

@keyframes contentOpacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}